
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="../../../assets/fotoot.png" id="foto" 
        class="img-fluid">
    </div>
<div class="col-xs-4- text-center col-sm-4- text-center col-md-4- text-center col-lg-4- text-center ">
    <p id="nombre">Alexander Nahuel Croceri</p>
    <p>Full stack Devolper Jr</p>
</div>
<div class="col-xs-4-text-right col-sm-4-text-right col-md-4-text-right col-lg-4-text-right">
<span>
    <h1>Acerca de mi</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Minima iusto libero enim maxime molestiae soluta sequi,
        nam quaerat rerum quae molestias error est, deleniti expedita possimus corrupti
        sapiente illo?Quos.
    </p>
</span>
</div>